@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none !important;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:2.5rem;
}

section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.custombtn{
    margin: 1rem 0px;
    display: inline-block;
    font-size: 1.5rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.custombtn:hover{
    background: var(--green);
    color: white !important;
    
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 2rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--green);
}
header .navbar{
    display: block;
}
header .navbar a{
    font-size: 1.5rem;
    border-radius: .5rem;
    padding:.5rem 1rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff !important;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:3.5rem;
    line-height: 3.5rem;
    width:3.5rem;
    text-align: center;
    font-size: 1.5rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff !important;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color:var(--green);
}

#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 5rem;
}

.home .home-slider {
    overflow: hidden !important;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    gap:2rem; 
    padding-top: 9rem;
}

.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image{
    flex:1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color:var(--green);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color:var(--black);
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:var(--green);
}



.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,25rem);
    justify-content: center;
    grid-gap:2rem;
}

.dishes .box-container .box{
    padding:2rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}
.quantity{
    color: var(--green);
    font-size: 1.7rem;
    font-weight: bold;
    display: inline-block;
    margin: 0 1rem;
}

.quantity input{
    border: 1px solid #ccc;
}
.quantity span{
    cursor: pointer;
}
.box .eyeClick .fa-times{
    position: absolute;
    right: 0;
    background:var(--black);
    border-radius: 50%;
    height: 3rem;
    width:3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}

.box .eyeClick{
    display: none;
    position: absolute;
    right:0;
    top: 0;
    width:100%;
    height: 100%;
    background-color:#eee;
    overflow-y: scroll;
    padding: 1rem;
    transition: all .3s linear;
}

.box .eyeClick p{
    margin-top: 3rem;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top:1.5rem;
    background:#eee;
    border-radius: 50%;
    height: 5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--black);
    cursor: pointer;
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: var(--green);
    color:#fff !important;
}

.dishes .box-container .box .fa-heart{
    right:-15rem;
}

.dishes .box-container .box .fa-eye{
    left:-15rem;
}

.dishes .box-container .box:hover .fa-heart{
    right:1.5rem;
}

.dishes .box-container .box:hover .fa-eye{
    left:1.5rem;
}

.dishes .box-container .box img{
    max-width: 100%;
    height:15rem;
    margin:1rem 0;
    width: 100%;
}

.dishes .box-container .box h3{
    color:var(--black);
    font-size: 2rem;
}

.dishes .box-container .box .stars{
    padding:1rem 0;
}

.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}

.dishes .box-container .box span{
    color:var(--green);
    font-weight: bolder;
    font-size: 1.8rem;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{ 
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color:var(--black);
    font-size: 4rem;
    padding:.5rem 0;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--green);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}

.menu .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,25rem);
    grid-gap:2rem;
    justify-content: center;
}

.menu .box-container .box{
    background: #fff;
    position: relative;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}


.menu .box-container .box .image{
    height: 15rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart,.menu .box-container .box .image .fa-eye{
    position: absolute;
    top:2.5rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
    cursor: pointer;
}
.menu .box-container .box .image .fa-heart
{
    right: 2.5rem;
} 

.menu .box-container .box .image .fa-eye
{
    left: 2.5rem;
} 

.menu .box-container .box .image .fa-heart:hover,.menu .box-container .box .image .fa-eye:hover{
    background-color: var(--green);
    color:#fff !important;
}

.menu .box-container .box .content{
    padding:1.5rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
   font-size: 1.3rem;
   color:var(--green);
}

.menu .box-container .box .content h3{
    color:var(--black);
    font-size: 1.7rem;
}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.3rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color:var(--green);
    font-size: 2rem;
}

.nav a{
    border: none !important;
}
.nav a:hover, .nav button:hover{
    color: #666 !important;
}

.review .slide{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;    
}

.review .slide .fa-quote-right{
    position: absolute;
    top:2rem; right:2rem;
    font-size: 6rem;
    color:#ccc;
}

.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color:var(--green);
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
}
.nav-link {

    color:var(--green);

}
#tiffins .card{
    margin-bottom: 2rem !important;
}



/*user page css*/
.activity-wrapper{
    background: #f4f4f5;
    padding: 2rem 0;
    margin: 1rem 0;
}
.user-history {
    margin-top: 2rem;
}
.user-history .activities{
    background: var(--black);
    border-radius: 10px;
    padding-right: 0;
}
.activities .nav-tabs{
    border:none;
    padding: 1rem 0;

}
.activities .nav .nav-item{
        padding: 1rem 0;
}

.activities .nav-tabs .nav-link.active {
    color: var(--green) !important;
    border-radius: 10px 0 0 10px;
}
.activities .nav-tabs i{
    margin-right: 1rem;
}
.activities .nav-tabs a{
    color: #05f950  !important;
    padding: 1rem;
}
.activities .nav-tabs a:hover{
    color:var(--green) !important;
}
#Rate{

}
.star-rating ul{
    list-style-type: none;
}
.star-rating .star{
    cursor: pointer;
    padding: 1rem;
    font-size: 2rem;
}
.orange{
    color: orange;
}
.yellow{
    color: yellow;
}

/**/

.footer{
    background:#06163e;
    color: white !important;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    grid-gap:1rem; 
}

.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2rem;
    color:White;
}

.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color: #929292;
}

.footer .box-container .box .social-icons{
    cursor: pointer;
    display: flex;
}

.footer .box-container .box a:hover,.footer .box-container .box .social-icons i:hover{
    color:white;
    padding-left: .5rem;
    text-decoration: underline;
}
.footer .box-container .questions a{
    color: var(--green);
}
.footer .box-container .questions i{
    padding-right: 1rem !important;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid #929292;
    font-size: 1.5rem;
    color:var(--green);
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color:var(--green);
}

.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}




/*cart css*/

.cart{
    display: flex;
    justify-content: center;
}
.cart .products .product{
    display: flex;
    width: 100%;
    height: 200px;
    overflow:hidden;
    border: 1px solid #eee;
    position: relative;
    margin-bottom: 2rem;
}

.cart .products .product:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.01);
}
.cart .products .product>img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.cart .products{
    flex:0.75;
}
.cart .products .product .quantity{
    margin: 0;
}

.cart .products .product-info{
    padding: 2rem;

}
.cart .products .product-info .product-remove{
    position: absolute;
    bottom:0;
    right:0;
    color: white;
    margin: 1rem;
}
.cart .products .product-info .product-add{
    position: absolute;
    bottom:3rem;
    right:0;
    color: white;
    margin: 1rem;
}
.cart .products .product-info .product-remove .fa{
    margin-right: 0.7rem;
}

.cart .cart-total{
    flex:0.25;
    padding: 2rem;
    border: 1px solid #eee;
    margin-left:2rem;
    font-size: 1.5rem;

}

.categories  a{
    color: black  !important;

} 

.categories .activeCate {
    color: white !important;
     background-color: #063a52 !important;
    border-color:transparent !important;
} 
.rounded-pill {
    background: #079b07 !important;
}










/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

    .cart{
      flex-direction: column;
   }
   .cart .products .product{
        height: 200px;
   }
   .cart .products .product>img{
        width: 180px;
        height: 200px;
        object-fit:contain;
   }
   .cart .cart-total{
    margin-left: 0;
    margin-top: 1rem;
   }
   .tab-content{
    margin-top: 5rem !important;
   }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }
    .cart .products .product{
         height: 150px;
    }

}

