*{
  margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: Poppins;
  margin: 0;
  padding: 0;
  background-color: #fff;
  animation: fadeInAnimation ease 3s;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.header{
  width: 100%;
  padding: 10px 20px;
  background-color: #131419;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  position: fixed;
  z-index: 9999;
 
}
.header h1{
    color:#fff;
    font-family:Poppins;
}
.header a i{
  
    color: #fff;
    border-radius: 50px;
    font-size: 2rem;
    text-shadow:0 0 10px #4267B2;
}
.destination{
   padding: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.destination .destination-details{
 width: 100%;
}
.destination .destination-details h1{
   font-family: Poppins;
   color: #ffa500;
}
.fixed-book{
  display: none;
}

.destination .destination-details p #map{
    text-align: left;
    font-size: 1.5rem;
    color:rgb(219, 109, 30);
    font-weight: 600;
    margin-right: 10px;
}

.destination .destination-details  iframe{
 width: 100%;
 height:400px; 
 border-radius: 10px;
 
}

.destination .destination-details .gallery {
  width: 100%; 
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x:auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.destination .destination-details .gallery::-webkit-scrollbar {
display: none; /* for Chrome, Safari, and Opera */
}
.destination .destination-details .gallery  img{
  width: 300px;
  height:200px;
  margin: 5px;
  border-radius: 5px;
  object-fit: cover;
  scroll-snap-align: start;
  flex-shrink: 0;

}
.book{
  padding-top: 15%;
  width: 100%;
  background: #131419;
 
}
.book .head{
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.head span{
  background:#fff;
  color:#ffa500;
  border-radius:10px;
  padding:5px 10px;
}
.head span.space{
  background:#131419;
}

.book .content{
 
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;

  
}



.book .content .booking-form{
  background: #fff;
  padding:30px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 20px;
}

.book  .content .booking-form #price{
  padding-bottom: 0;

}

.book  .content .booking-form #red-msg{
  padding: 0;
  font-size: 0.7rem;
  color: #fa3d24;
  margin-top: 10px;
  font-weight: bold;
  padding-bottom: 0;
  
}


.book .content .booking-form .dates{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 10px;
  background: rgba(255, 165, 0,.2);

}
.book .content .booking-form .dates .check{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  

  
}
.book .content .booking-form .dates .check p{
  font-size: .9rem;
  color: #3b5057;
  

}
.book .content .booking-form .dates .check input{
  height: 40px;
  padding: 10px;
  font-size: .8rem;
  margin-top: 5px;
  background: #fff;
  color: #3b5057;
  border-radius: 10px;
  border: 2px solid #3b5057;
  outline:none;
  
}

.book .content .booking-form .passengers{
 
  display: flex;
  justify-content:space-evenly;
  border-radius: 10px;
  background: rgba(255, 165, 0,.2);
}
.book .content .booking-form .passengers .passenger{
  padding: 20px;
 
}

.book  .content  .booking-form .passengers .passenger #p-ac{
  color:#3b5057;
  
}
.book  .content  .booking-form .passengers .passenger p{
  font-size: .7rem;   
  color:#3b5057;
  padding: 0;
}
.book .content .booking-form .passengers .passenger input{
  width:80px;
  height: 40px;
  padding: 20px;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 10px;
  background: #fff;
  border: 2px solid #3b5057;
  color: #3b5057;
  border-radius: 10px;
  outline: none;
 }

.book .content .booking-form .book-btn{
width: 100%;
font-family: Poppins;
color: #fff;
padding: 20px;
font-size: 1rem;
background:#ffa500;
border-radius: 10px;
border: none;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
margin-top: 20px;
font-weight: 600;
cursor: pointer;
}
.book .content .booking-form .book-btn:hover{
  background:#9b6605;
}
.book .content  .booking-form .display-total{
  padding-top: 5px;
  width:100%;
}
.book .content  .booking-form .display-total p{
  text-align: right;
    color: #0a4356;
    font-weight: bold;
    font-size: .8rem;
}

.destination .to-do{
  padding-top: 20px;
   width: 100%;
}
.destination .to-do .about-dest{
    width:100%;
  
}

.destination .to-do .about-dest #about-description{
   padding: 0;
    font-size: .8rem;
    text-align:justify;
}


.material-icons {
    vertical-align: middle;
    margin-right: 5px;
  }
  .destination .to-do .things-to-do ul li i{
    padding-right: 10px;

}
.destination .to-do .things-to-do ul li{
    list-style: none;
    font-size: .8rem;
    padding:10px;
}
.packages .head{
  text-align: center;

}
.packages .box-container .box .content .view{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.packages .box-container .box .content .view .view-details{
  background: rgba(255, 165, 0,.2);
  padding: 10px 40px;
  border-radius: 10px;
  text-decoration: none;
  color:#ffa500;
  


}

#bookingProcess{
  margin:5% 1rem;
}
.bookingInfo img{
  width: 170px;
  height: 110px;
  object-fit: cover;
}

.bookingInfo{
  border: 1px solid #c7c7c7;
  padding-bottom: 5px;
}
.bookingInfo .tbl{
      padding: 0 20px;
}


@media only screen and (max-width: 768px){

  .book{
  padding-top: 30%;
}
#bookingProcess{
  margin:30% 0;
}
  .fixed-book{
    display: block;
    width:100%;
    position: fixed ;
    left:0;
    bottom:0;
    background: #131419;
    border-top: 1px solid #e1e5ee;

  }

  .fixed-book .go-book{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
  
  }
  .fixed-book .go-book p{
    color:#fff;
  } 
  .fixed-book  .go-book p span{
    text-decoration: line-through;
  }
  .fixed-book .go-book .book-link{
  color:#fff;
  font-family: Poppins;
  color: #fff;
  padding:10px 30px;
  font-size: 1rem;
  background:#ffa500;
  border-radius: 10px;
  text-decoration: none;}
.fixed-book .contact{
  border-top: 1px solid #e1e5ee;
  padding: 5px;
  color:#fff;
  text-align: center;
}
.fixed-book .contact i{
  text-shadow: 0 0 15px #4267B2;
}
.destination{
  padding:20px;
  
}
.destination .destination-details h1{
  font-size: 1.5rem;
  text-align: center;
}
.destination .destination-details p{
  font-size: .9rem;
}
.destination .destination-details p #map{
  font-size: .9rem;
margin-right: 1px;}


.destination .to-do .about-dest #about-description{
    font-size: .8rem;}



    .destination .to-do .things-to-do{
    margin-left: 0;
 
}
.destination .to-do .things-to-do h2{
    padding-top: 20px;
}
.material-icons{
    margin-right:0
}
.destination .to-do .things-to-do ul li{
    padding:0;
    padding-top: 5px;
    font-size: .8rem;
}
.more-destinations h1{
    font-size: 1.5rem;
    text-align: center;
}
.destination .destination-details iframe{
  width:100%;
  height: auto;
}
.destination .destination-details .gallery img{
  width:100%;
  height:150px;
  object-fit: cover;
  scroll-snap-align: start;
}
.book .content .booking-form .dates .check{
padding: 5px;
}
.book .content .booking-form .dates .check input{
  margin:0;
}
.footer .credit{
  margin-bottom: 30px;
}
.header{
  display: none;
}
.home-btn{
  display: block;
  position: fixed;
  top:5px;
  left:0;

  z-index: 9999;
  outline: none;
  background:transparent;
  cursor: pointer;
  border-radius: 50%;
  border:none;
  
  color:#131419;
  transition: .5s all;
  
}
.home-btn:hover{
  background: rgba(50, 50, 93, 0.25);
}

.home-btn i{
  font-size: 4rem;
  padding:0;
}
}
